@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#doc-root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  #__next {
    height: 100vh;
  }

  html {
    height: 100vh;
  }

  body {
    background: rgb(8, 12, 9);
    background: linear-gradient(
      150deg,
      rgba(8, 12, 9, 1) 0%,
      rgba(15, 20, 30, 1) 45%,
      rgba(15, 20, 30, 1) 54%,
      rgba(37, 24, 27, 1) 60%,
      rgba(7, 11, 8, 1) 68%,
      rgba(8, 12, 9, 1) 100%
    );
    color: white;
    min-height: 100vh;
  }
}

.tile {
  display: flex;
  color: white;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid #494949;
  max-width: 44px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.filled {
  animation: pop 0.5s ease forwards;
}

.text {
  padding: 3px;
}

/* adds colors the keyboard */
button.correct {
  box-shadow: inset 0px 0px 4px 0px rgba(18, 107, 0, 0.75);
  border: 1px solid #76db7d;
  background-color: #538d4e;
  color: black;
  transition: all 0.2s ease-in 1.8s;
}

button.close {
  box-shadow: inset 0px 0px 4px 0px rgba(126, 107, 0, 0.75);
  border: 1px solid #ffef85;
  background-color: #ffdd00;
  color: black;
  transition: all 0.2s ease-in 1.8s;
}

button.absent {
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #292929;
  background-color: rgba(31, 31, 31, 0.75);
  transition: all 0.2s ease-in 1.8s;
}

/* adds colors to the game board */
div.correct {
  --border-color: #76db7d;
  --background-color: #4d8e52;
  animation: flip 0.5s ease forwards;
}

div.close {
  --border-color: #ffef85;
  --background-color: #d2b600;
  animation: flip 0.5s ease forwards;
}

div.absent {
  --border-color: #2e2e30;
  --background-color: #2e2e30;
  animation: flip 0.5s ease forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
    background: transparent;
  }

  45% {
    transform: rotateX(90deg);
    background: transparent;
  }

  55% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
    background: var(--background-color);
    border-color: var(--border-color);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
