@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#doc-root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    background-color: #121213;
    color: whitesmoke;
  }
}

div.correct {
  border-color: #538d4e;
  background-color: #538d4e;
}
div.close {
  border-color: #b59f3b;
  background-color: #b59f3b;
}
div.absent {
  border-color: #3a3a3c;
  background-color: #3a3a3c;
}
